@model BoardBrowser.Models.BoardDetails

@{
    ViewBag.Title = "Details";
}

<h2>Board Details</h2>

<div>
    <h4>BoardDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BoardId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BoardId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BoardName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BoardName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BoardQuality)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BoardQuality)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BoardId })
    @Html.ActionLink("Details", "Details", new { id = Model.BoardId }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.BoardId })
    @Html.ActionLink("Back to List", "Index")
</p>
