@model BoardBrowser.Models.OrderDetail

@{
    ViewBag.Title = "Details";
}

<h2>View Details About Your Order</h2>

<div>
    <h4>OrderDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BoardId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BoardId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Board)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Board)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfTransaction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfTransaction)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrderId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
